﻿@model TrelloClient.Models.CommentModel
@{
    ViewBag.Title = "Comment";
}
@Html.AntiForgeryToken()
@using (Html.BeginForm("AddComment", "Cards", FormMethod.Post))
{
    <br />
    <!--textarea class="form-control" rows="3" cols="10" placeholder="The cat is not here leave your coment"></!textarea-->
    @Html.HiddenFor(model => model.CardId)
    @Html.TextAreaFor(model => model.Text, new { @class = "form-control", data_rule_required = "true", placeholder = "The cat is not here leave your coment", required = "required" })
    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
    <br>
    <input type="submit" class="btn btn-default" value="Comment">
}