﻿@model List<TrelloClient.Models.SimpleCardModel>
@{
    ViewBag.Title = "Comment";
}
@Html.AntiForgeryToken()
@using (Html.BeginForm("Comment","Cards", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
<table class="table table-hover">
    <thead>
        <tr>
            <th>Card Name</th>
            <th>Comment a card from @ViewBag.id</th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var card in Model)
        {
            <tr>
             @if (card.BoardId == @ViewBag.boardidfrom)
             {
                <td>@card.Name</td>
               <td>
                   <div class="comment-form-submit">
                       @Html.ActionLink("Comment cards", "Comment", "Cards", new { Id = card.Id }, null)
                   </div>
               </td>
             }
            </tr>
        }
    </tbody>
</table>
}

