﻿@model IList<TrelloClient.Models.SimpleBoardModel>

@{
    ViewBag.Title = "Comment";
}
@Html.AntiForgeryToken()
@using (Html.BeginForm("getCards", "Boards", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Boards</th>
                <th>Pick a card to comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in Model)
            {
                <tr>
                    <td>@board.Name</td>
                    <td>
                        <div class="comment-form-submit">
                                @Html.ActionLink("See cards", "GetCards", "Boards", new { Id = board.Id }, new { })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

